{% extends 'base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
<a href="{% url 'blog:write' %}" class="btn btn-outline-success">새 글</a>
{% endif %}


{% if posts %}
<table class="table table-hover text-center">
    <thead class="thead-dark">
        <tr>
            <th>카테고리</th>
            <th>제목</th>
            <th>글쓴이</th>
            <th><a href="?sort=created_at" class="text-reset">작성일</a></th>
            <th><a href="?sort=views" class="text-reset">조회</a></th>
            <th><a href="?sort=likes" class="text-reset">추천</a></th>
        </tr>
    </thead>
    <tbody>
        {% if sort %}
            {% for post in posts|dictsortreversed:sort %}
            <tr>
                <td>{{ post.category }}</td>
                <td><a href="{% url 'blog:detail' post_id=post.pk %}" class="btn btn-outline-secondary">{{ post.title }}</a></td>
                <td>{{ post.writer }}</td>
                <td>{{ post.created_at.month }}/{{ post.created_at.day }} {{ post.created_at.hour }}:{{ post.created_at.minute }} -- {{ post.created_at.time }}</td>
                <td>{{ post.views }}</td>
                <td>{{ post.likes }}</td>
            </tr>
            {% endfor %}
        {% comment %} {% else %}
            {% for post in posts %}
            <tr>
                <td>category</td>
                <td><a href="{% url 'blog:detail' post_id=post.pk %}" class="btn btn-outline-secondary">{{ post.title }}</a></td>
                <td>{{ post.writer }}</td>
                <td>{{ post.created_at.month }}/{{ post.created_at.day }} {{ post.created_at.hour }}:{{ post.created_at.minute }} -- {{ post.created_at.time }}</td>
                <td>{{ post.views }}</td>
                <td>{{ post.likes }}</td>
            </tr>
            {% endfor %} {% endcomment %}
        {% endif %}
    </tbody>
</table>
{% else %}
    {% if query %}
    <p>일치하는 검색 결과가 없습니다.</p>
    {% else %}
    <p>작성된 게시글이 없습니다.</p>
    {% endif %}
{% endif %}

<!-- Search Form -->
<form action="{% url 'blog:search' %}" method='get' class='d-flex mt-5'>
    <select class="form-select" name='q-opt'>
        <option selected value="1">제목/내용</option>
        <option value="2">댓글</option>
        <option value="3">카테고리</option>
        <option value="4">태그</option>
    </select>
    <input type="text" name='q' class='form-control'>
    <input type="submit" value="검색" class="input-group-text">
</form>


{% endblock content %}