{% extends 'base.html' %}

{% block content %}

{% if posts %}
<table class="table table-hover text-center mt-5">
    <thead class="thead">
        <tr>
            <th>카테고리</th>
            <th>제목</th>
            <th>글쓴이</th>
            <th><a href="?sort=created_at" class="text">작성일</a></th>
            <th><a href="?sort=views" class="text-reset">조회</a></th>
            <th><a href="?sort=likes" class="text-reset">추천</a></th>
        </tr>
    </thead>
    <tbody>
        {% if sort %}
            {% for post in posts|dictsortreversed:sort %}
            <tr>
                <td>{{ post.category }}</td>
                <td><a href="{% url 'blog:detail' post_id=post.pk %}" class="btn btn-outline-secondary">{{ post.title }}</a></td>
                <td>{{ post.writer }}</td>
                <td>time : {{ post.created_at.time }} DateTimeField : {{ post.created_at }} </td>
                <td>{{ post.views }}</td>
                <td>{{ post.likes }}</td>
            </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
{% else %}
    {% if query %}
    <p>일치하는 검색 결과가 없습니다.</p>
    {% else %}
    <p>작성된 게시글이 없습니다.</p>
    {% endif %}
{% endif %}

<!-- Paging Nav -->
{% if posts.has_other_pages %}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if posts.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ posts.previous_page_number }}&sort={{sort}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% endif %}
    {% for i in posts.paginator.page_range %}
      {% if posts.number == i %}
        <li class="page-item active"><a class='page-link' href='#'>{{ i }}</a></li>
      {% else %}
        <li class='page-item'>
            <a class='page-link' href="?page={{ i }}&sort={{sort}}">{{ i }}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if posts.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ posts.next_page_number }}&sort={{sort}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}

{% if request.user.is_authenticated %}
<a href="{% url 'blog:write' %}" class="btn btn-outline-success">새 글</a>
{% endif %}

<!-- Search Form -->
<form action="{% url 'blog:search' %}" method='get' class='d-flex mt-5'>
    <select class="custom-select col col-lg-2" name='q-opt'>
        <option selected value="1">제목/내용</option>
        <option value="2">댓글</option>
        <option value="3">카테고리</option>
        <option value="4">태그</option>
    </select>
    <input type="text" name='q' class='form-control'>
    <input type="submit" value="검색" class="input-group-text">
</form>


{% endblock content %}