<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Blog</title>
  </head>
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <div class='container'>
          <a class="navbar-brand mw-5" href="{% url 'main' %}">ㅂㅡㄹ ㄹㅗ ㄱㅡ</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:list' %}">전체글</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:hot' %}">인기글</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                카테고리
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">HTML/CSS</a>
                <a class="dropdown-item" href="#">Python</a>
                <a class="dropdown-item" href="#">Django</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">고양이</a>
                </div>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if request.user.is_authenticated %}
                <li class='nav-item'><span class="navbar-text">환영합니다 {{request.user}} 님 |</span></li>
                {% endif %}
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:logout' %}">로그아웃</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:login' %}">로그인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:register' %}">회원가입</a>
                </li>
                {% endif %}
            </ul>
          </div>
      </div>
    </nav>
    <div class="container mt-3">
        {% comment %} <a href="{% url 'blog:list' %}" class="btn btn-dark">Blog</a> {% endcomment %} 
        {% block content %}
        {% endblock %}
    </div>
    <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
        <span class="navbar-text p-0">현재 접속자 : 99999 명</span>
    </nav>
  </body>
</html>
